.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1140px;
  @include respond-below(lg) {
    width: 1140px;
  }
  @include respond-below(md) {
    width: 960px;
  }
  @include respond-below(sm) {
    width: 720px;
  }

  @include respond-below(xs) {
    width: 540px;
    max-width: 100%;
  }
}

.dir_rtl {
  direction: rtl;
}
