<div class="copyright copyright--blue">
    <div class="container d-flex justify-content-center">
        <a href="https://sepehrakbarzadeh.ir"><p style="color: #FFFFFF" class="mb-0">SAGE team</p></a>
    </div>
</div>
<a class="scroll--dark" href="#" id="scroll" style="display: none"
><span></span
></a>