{% load static %}

<footer class="footer footer--dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 mb-5">
                <a href="{% url 'pages:home' %}" class="footer__brand"
                ><img src="{{ site.svg.url }}" alt="{{ site.svg_alt_text }}"
                /></a>

                <p class="mb-4">
                    {{ site.footer_text }}
                </p>
                <ul class="list-inline footer__contact">
                    <li class="list-inline-item">
                        <p>
                            <i class="fas fa-phone-alt" aria-hidden="true"></i>
                            {{ site.phone_number }}
                        </p>
                    </li><br/>
                    <li class="list-inline-item">
                        <p>
                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                            {{ site.address }}
                        </p>
                    </li><br/>
                    <li class="list-inline-item">
                        <p>
                            <i class="fas fa-envelope" aria-hidden="true"></i>
                            {{ site.email }}
                        </p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="footer__news footer__news--dark">
                    <h3 class="title_1 title_1--dark">اشتراک در خبرنامه</h3>
                    <p class="mb-3">
                        کافیست برای اشتراک در خبرنامه با پر کردن فرم زیر ما را مطلع سازید تا از پیشنهاد‌ها جدید بی خبر نمانید.
                    </p>
                    <form method="post" action="{% url 'pages:footer' %}">
                        {% csrf_token %}

                        {{ form }}

{#                        <input#}
{#                                type="email"#}
{#                                id="subscribeEmail"#}
{#                                name="EMAIL"#}
{#                                placeholder="ایمیل خود را وارد کنید"#}
{#                        />#}
                        <input type="submit" value="اشتراک در خبرنامه"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>