{% load static %}

<link
      rel="stylesheet"
      href="{% static 'assets/vendors/fonts/font/iran-sans/css/fontiran.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/fonts/font_num/css/fontiran.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/fonts/vazir/vazir-font/css/main.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
      integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/hover.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/owl.carousel.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/css/owl.theme.default.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/css/lightslider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/gilda/gilda.css' %}" />