{% load static %}

<div class="video-banner">
    <video poster="{% static 'assets/img/bg/video-poster2.png' %}" autoplay muted loop>
        <source src="{{ banner.video.url }}" type="video/mp4"/>
        Your browser does not support HTML5 video.
    </video>

    <div class="video-banner__content text-center">
        <h1 class="mb-2">{{ banner.title }}</h1>
        <p class="mb-0">{{ banner.summary }}</p>
    </div>
</div>