body.white-landing {
  .navbar {
    background-color: $white;
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $dark-2;
          i {
            color: $dark-2;
          }
          &:hover {
            color: $white;
            i {
              color: $white;
            }
          }
        }

        &.active {
          .nav-link {
            color: $white;
            i {
              color: $white;
            }
          }
        }
      }
    }
  }
  .banner-landing,
  .side_info {
    background-color: $white;
  }

  .section-title h3 {
    color: $dark-2 !important;
  }
  .banner-landing .content {
    ul li i,
    ul li,
    p,
    h2 {
      color: $dark-2;
    }
  }

  .side_info .siderbar_social li a,
  .side_info .siderbar_contact > a,
  .side_info .siderbar_email > a {
    color: $dark-2;
  }
  .banner-landing .content h1 {
    color: #f1f1f1;
  }

  .happy-customers,
  .meet-agents {
    background: #f8f8f8 !important;
  }

  .news {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    &__content {
      background-color: $white !important;
      .title,
      p {
        color: $dark-2;
      }
    }
  }

  .news__content__footer ul li i {
    color: $brown;
  }
  .happy-customers .customer {
    background-color: $white;
    color: $dark-2;
  }

  .packages .plan {
    border: 1px solid #dedede;
    background-color: #fff;
    h3 {
      color: $dark-2;
    }
    ul li {
      border-top: 1px dashed #dedede;
      color: $dark-2;
    }
  }

  .meet-agents .agent__bio {
    background-color: $white;
    &:hover {
      h3,
      p,
      ul li a,
      a {
        color: $white;
      }
    }
    h3,
    p,
    ul li a,
    a {
      color: $dark-2;
      transition: 0.3s;
    }
  }

  .copyright,
  .recently-features,
  .packages,
  .last-news,
  .hover-properties {
    background: url(../img/bg/bg-pattern-dot.png) 0 0 repeat !important;
  }
  #owl-three .owl-dots .owl-dot span:after {
    background-color: $white;
  }
  .property-service:after {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    );
  }

  .property-service .service {
    background-color: $white !important;
    h4,
    a,
    p {
      color: $dark-2;
    }
  }

  footer {
    background-color: #f8f8f8 !important;
    a,
    i,
    p,
    h3 {
      color: $dark-2;
    }
    a:hover {
      color: $brown;
    }
  }

  .copyright p {
    color: $dark-2;
    i {
      color: $brown;
    }
  }
  .footer__news input[type="submit"] {
    background-color: $brown;
  }
}

body.dir_rtl {
  .meet-agents .agent__bio ul li {
    margin-right: 0;
  }
  #owl-four,
  #owl-two,
  #owl-three {
    direction: ltr;
  }
  .customer {
    ul {
      padding-left: 0;
      li {
        margin: 0;
      }
    }
  }
  .property-service .service__icon {
    right: unset;
    left: 25px;
  }
  .property-service .service a {
    display: flex;
    flex-direction: row-reverse;
    i {
      left: 5px;
      position: relative;
      top: 5px;
    }
  }
  .banner-landing .content {
    padding-left: 0;
    padding-right: 50px;
    @include respond-below(md) {
      padding-right: 0;
    }
  }
  .banner-landing .content h1.estate {
    left: unset;
    right: 90px;
  }
  .banner-landing .content ul {
    @include respond-below(md) {
      width: 260px;
    }
    direction: rtl;
    li {
      span {
        padding-right: 25px;
        padding-left: 0;
      }
      i {
        left: unset;
        right: 0;
      }
    }
  }
  .banner-landing .content h1 {
    left: unset;
    right: 50px;
  }
  .news__content__footer ul li span {
    margin-right: 4px;
  }
}

.side_info {
  width: 60px;
  background: #282d32;
  position: absolute;
  left: 0;
  height: 1500px;
  z-index: 1000;
  .siderbar_social {
    margin: 30px 0px 24px 0px;
    text-align: center;
    li {
      margin-top: 10px;
      a {
        color: $white;
        &:hover {
          color: $brown;
        }
      }
    }
  }
  .siderbar_contact,
  .siderbar_email {
    text-align: center;
    padding: 30px 0 22px;
    border-top: 1px solid #353c43;
    > a {
      color: #ffffff;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      text-transform: lowercase;
      text-decoration: none;
    }
    svg {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-bottom: 5px;
      width: 16px;
      height: 15px;
      vertical-align: baseline;
      path {
        fill: $brown;
      }
    }
  }
}

.news {
  display: flex;
  margin-bottom: 20px;
  @include respond-below(sm) {
    flex-direction: column;
  }
  &__image {
    width: 450px;
    @include respond-below(lg) {
      width: 25%;
    }
    @include respond-below(md) {
      width: 35%;
    }
    @include respond-below(sm) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__content {
    padding: 15px 20px;
    @include respond-below(lg) {
      width: 75%;
    }
    @include respond-below(md) {
      width: 65%;
    }
    @include respond-below(sm) {
      width: 100%;
    }
    .date {
      color: $brown;
      font-size: 13px;
      margin-bottom: 5px;
      display: inline-block;
    }
    p {
      color: $white;
      font-size: 15px;
      margin: 6px 0px 20px 0px;
    }
    .title {
      color: $white;
      @include transition(0.3s);
      &:hover {
        color: $brown;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 500;
      }
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      a {
        font-weight: 600;
        color: $brown;
      }
      ul {
        li {
          font-size: 12px;
          span {
            color: #777;
          }
          i {
            margin-right: 5px;
            color: $white;
          }
        }
      }
    }
  }
}

.property-service {
  background-image: url(../img/bg/bg-counter.jpg);
  background-attachment: fixed;
  position: relative;
  padding-bottom: 3rem;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    z-index: 1;
  }
  .row {
    position: relative;
    z-index: 2;
  }
  .service {
    margin-bottom: 60px;
    padding: 30px;
    padding-top: 35px;
    border: 1px dashed $brown;
    position: relative;
    &__icon {
      font-size: 34px;
      width: 75px;
      text-align: center;
      height: 75px;
      padding-top: 4px;
      right: 25px;
      border-radius: 50px;
      top: -38px;
      color: $white;
      position: absolute;
      line-height: 65px;
      background: $brown;
    }
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      color: $white;
    }
    p {
      color: $white;
      font-size: 15px;
      margin-bottom: 1rem;
    }
    a {
      color: $white;
      @include transition(0.5s);
      &:hover {
        color: $brown;
      }
    }
  }
}

.meet-agents {
  .agent {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    &:hover {
      .agent__bio {
        background-color: $brown;
        bottom: 0;
        ul {
          opacity: 1;
          @include transform(translate(0, 0));
        }
      }
    }
    img {
      width: 100%;
    }
    &__bio {
      position: absolute;
      @include transition(0.4s);
      width: 100%;
      bottom: -60px;
      background-color: $dark-2;
      color: $white;
      text-align: center;
      padding: 18px 0;
      padding-bottom: 5px;
      h3 {
        text-transform: capitalize;
        margin-bottom: 0;
        color: $white;
        font-size: 16px;
        font-weight: 600;
      }
      p {
        font-style: italic;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
      }
      ul {
        padding: 15px 0;
        opacity: 0;
        @include transform(translate(0, 10px));
        @include transition(0.4s);
        li {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          a {
            color: $white;
            font-size: 15px;
            &:hover {
              color: $white;
            }
          }
        }
      }
      a {
        color: $white;
        font-size: 12px;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.packages {
  padding-bottom: 5rem;
  .plan {
    background-color: $dark-1;
    border: 1px dashed $brown;
    text-align: center;
    margin-bottom: 40px;
    &.permium {
      .btn,
      .plan__price {
        background-color: $dark-2;
        &:after {
          background-color: $dark-2;
        }
      }
    }
    &__header {
      h3 {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        display: block;
        font-size: 24px;
        line-height: 47px;
        font-weight: 800;
        padding: 20px 0;
        color: $white;
        span {
          display: block;
          font-size: 12px;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    &__price {
      padding: 10px 0;
      background-color: $brown;
      position: relative;
      &:after {
        width: 25px;
        height: 25px;
        content: "";
        background-color: $brown;
        @include transform(rotate(45deg));
        position: absolute;
        right: 0;
        left: 0;
        bottom: -9.5px;
        margin: auto;
      }
      p {
        color: $white;
        font-size: 48px;
        sub {
          font-size: 16px;
        }
        sup {
          font-size: 30px;
        }
      }
    }
    ul {
      margin-top: 25px;
      margin-bottom: 20px;
      li {
        padding: 12px 29px;
        font-size: 15px;
        font-weight: 500;
        color: $white;
        border-top: 1px dashed $brown;
        &:first-child {
          border-top: none;
        }
      }
    }
    .btn {
      background-color: $brown;
      border: none;
      &:hover {
        background-color: $dark-2;
      }
      font-size: 17px;
      padding: 7px 25px;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
}

.happy-customers {
  .customer {
    padding: 2rem;
    text-align: center;
    background-color: $dark-2;
    color: $white;
    border-radius: 10px;
    h4 {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
    img {
      width: 90px;
      border-radius: 50%;
      margin: auto;
      display: block;
      margin-bottom: 1rem;
    }
    span {
      font-size: 1rem;
    }
    ul {
      font-size: 13px;
      color: #c18847;
      margin-top: 3px;
      margin-bottom: 25px;
      li {
        margin-right: 0px;
      }
    }
    .quote {
      font-size: 18px;
      margin-bottom: 5px;
      font-style: italic;
    }
    p {
      font-style: italic;
      font-size: 15px;
    }
  }
}

.hover-properties {
  padding: 4rem 0;
  .row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .recent-hover {
    &:hover {
      .details {
        bottom: 0;
      }
      img {
        @include transform(scale(3.05) translate(0, 45px));
      }
    }
    &__image {
      width: 100%;
      height: 400px;
      position: relative;
      overflow: hidden;
      img {
        @include transform(scale(3) translate(0, 45px));
        position: absolute;
        @include transition(0.5s);
        top: 0;
      }
      .details {
        @include transition(0.5s);
        padding: 20px;
        background-color: transparent;
        position: absolute;
        z-index: 2;
        bottom: -40px;
        width: 100%;
        h4 {
          font-size: 22px;
          color: $white;
          font-weight: 600;
          margin-bottom: 4px;
        }
        p {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 6px;
        }
        div {
          font-size: 12px;
          font-weight: 400;
          color: #fff;
          span {
            opacity: 0.5;
            display: inline-block;
            padding: 0 5px;
          }
        }
        h5 {
          color: #fff;
          text-transform: capitalize;
          margin-top: 20px;
          font-size: 12px;
        }
      }
    }
  }
}

.banner-landing {
  background-color: $dark-1;
  .item {
    img {
      max-width: 100%;
      height: auto;
      @include transform(scale(1.3));
    }
  }

  .content {
    padding-top: 100px;
    padding-left: 95px;

    @include respond-below(xl) {
      padding-bottom: 40px;
    }
    @include respond-below(lg) {
      padding-top: 10px;
      padding-left: 30px;

      padding-bottom: 25px;
    }

    h4 {
      font-size: 12px;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: #c18847;
      margin: 0;
      z-index: 2;
      position: relative;
      @include respond-below(md) {
        text-align: center;
      }
    }
    h2 {
      color: #fff;
      font-weight: 600;
      text-transform: capitalize;
      font-size: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
      z-index: 2;
      position: relative;
      @include respond-below(md) {
        text-align: center;
        font-size: 30px;
      }
    }
    h3 {
      font-size: 26px;
      color: $brown;
      margin-bottom: 20px;
      font-weight: 600;
      z-index: 2;
      position: relative;
      @include respond-below(md) {
        text-align: center;
        font-size: 20px;
      }
    }
    p {
      font-size: 14px;
      color: $white;
      z-index: 2;
      position: relative;
      @include respond-below(md) {
        text-align: center;
      }
    }
    ul {
      @include respond-below(md) {
        width: 245px;
        margin: auto;
      }
      display: flex;
      flex-wrap: wrap;
      z-index: 2;
      position: relative;
      li {
        width: 45%;
        position: relative;
        margin-bottom: 15px;
        font-size: 14px;
        color: $white;
        i {
          position: absolute;
          left: 0;
          top: 3px;
          color: $white;
        }
        span {
          padding-left: 25px;
        }
      }
    }
    h1 {
      font-size: 70px;
      text-transform: uppercase;
      color: #252a2d;
      font-weight: 600;
      margin-top: 85;
      margin-left: -9px;
      position: absolute;
      bottom: 90px;
      @include respond-below(lg) {
        display: none;
      }
      &.estate {
        font-size: 70px;
        text-transform: uppercase;
        font-weight: 600;
        color: #252a2d;
        letter-spacing: 12px;
        position: absolute;
        left: 130px;
        right: 0;
        top: -26px;
        z-index: 1;
      }
    }
    a {
      @include respond-below(md) {
        display: block;
        margin: 15px auto;
        width: 151px;
      }
      padding: 15px 20px;
      background-color: $brown;
      transition: 0.5s;
      color: $white;
      text-transform: uppercase;
      font-size: 14px;
      z-index: 2;
      position: relative;
      margin-top: 10px;
      display: inline-block;
      margin-bottom: 20px;
      &:hover {
        background-color: $white;
        color: $brown;
      }
    }
  }
}
