body.dir_rtl {
  .project .feature__overlay ul li {
    font-size: 13px;
    span {
      font-size: 12px;
    }
    @include respond-below(sm) {
      font-size: 10px;
      span {
        font-size: 9px !important;
      }
    }
  }
  .project .feature__overlay ul {
    font-size: 0;
  }
  .property .recent-house img {
    margin-right: 0;
  }
  .property__rent {
    -webkit-transform: translate(0, -9px);
    -ms-transform: translate(0, -9px);
    -moz-transform: translate(0, -9px);
    -o-transform: translate(0, -9px);
    transform: translate(0, -9px);
  }
  #owl-one {
    direction: ltr;
  }
  .property__gallary {
    direction: ltr;
    .title_1 {
      &:after {
        margin-left: auto;
      }
    }
  }
}

.property {
  background-color: #f7f7f7;
  &__gallary {
    .lSGallery {
      li.active {
        img {
          opacity: 0.5;
        }
      }
    }
    .lSAction > .lSNext,
    .lSAction > .lSPrev {
      background-color: #274abb;
      opacity: 1;
      color: #fff;
      text-align: center;
      font-size: 18px;
      border-radius: 50px;
      z-index: 2;
      @include respond-below(sm) {
        display: none;
      }
      @include transition(0.2s);
      &:hover {
        color: $white;
        opacity: 0.5;
      }
    }
    .lSAction > .lSPrev {
      left: 25px;
      i {
        @include transform(translate(0, 7px));
      }
    }
    .lSAction > .lSNext {
      right: 25px;
      i {
        @include transform(translate(2px, 7px));
      }
    }

    .lSSlideOuter .lSPager.lSGallery {
      li {
        &:first-child {
          img {
            margin-left: 0;
          }
        }
        &:last-child {
          img {
            margin-right: 0;
          }
        }
        img {
          max-width: 100px;
          margin: auto;
        }
      }
    }
    ul {
      list-style: none outside none;
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: block;
      float: left;
      margin-right: 6px;
      cursor: pointer;
    }
    img {
      display: block;
      height: auto;
      @include respond-below(md) {
        width: 100%;
      }
    }
  }
  &__video {
    .modal-content {
      background-color: transparent;
      border: none;
    }
    .modal-header {
      background-color: transparent;
      border-bottom: none;
      .close {
        color: $white;
        font-size: 40px;
        font-weight: 500;
      }
    }
    .icon {
      display: inline-block;
      background-color: #fff;
      width: 60px;
      height: 60px;
      font-size: 25px;
      text-align: center;
      right: 50%;
      left: 50%;
      top: 50%;
      position: absolute;
      border-radius: 50px;
      color: $blue-1;
      @include transform(translate(-50%, -50%));
      i {
        @include transform(translate(3px, 17px));
      }
    }
  }
  &__details,
  &__amenities {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 33%;
      margin-bottom: 15px;
    }
  }
  &__details {
    li {
      span {
        font-size: 1rem;
        @include respond-below(xs) {
          font-size: 10px;
        }
      }
      .content {
        font-weight: 600;
        color: #555 !important;
        text-transform: capitalize;
      }
      .value {
        font-weight: 500;
        color: #666 !important;
        text-transform: capitalize;
      }
    }
  }
  &__amenities {
    li {
      .icon {
        color: #274abb;
        font-size: 1.5rem;
        font-weight: bold;
        @include respond-below(xs) {
          font-size: 1rem;
        }
      }
      .value {
        font-size: 1rem;
        @include respond-below(xs) {
          font-size: 0.75rem;
        }
        color: #000;
        text-transform: capitalize;
      }
    }
  }
  p {
    color: #666;
    font-weight: 400;
    line-height: 26px;
  }
  .d-flex {
    justify-content: space-between;
    @include respond-below(sm) {
      flex-direction: column;

      p,
      h4 {
        margin-bottom: 15px;
      }
    }
    @include respond-below(xs) {
      .property__title .sale {
        padding: 0 15px;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
  &__title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    color: #222;
    text-transform: capitalize !important;
    .sale {
      font-size: 14px;
      background: #274abb;
      color: #fff;
      border: 1px solid #fff;
      padding: 5px 15px;
      border-radius: 50px;
      top: -3px;
      margin-left: 0.5rem;
      position: relative;
    }
  }
  &__rent {
    font-size: 17px;
    text-decoration: none;
    color: #333;
    @include transform(translate(-15px, -9px));
    @include respond-below(sm) {
      @include transform(translate(0, -9px));
    }
  }
  &__price {
    font-size: 24px;
    font-weight: 600;
    color: #274abb;
    text-transform: capitalize !important;
    margin-right: 15px;
  }
  &__address {
    a {
      color: #666;
    }
  }

  .recent-house {
    display: flex;
    margin-bottom: 15px;
    &.rtl {
      img {
        margin-right: 0;
        margin-left: 15px;
      }
      .info-img {
        margin-right: 0;
        margin-left: 15px;
      }
    }
    img {
      width: 90px;
      margin-right: 15px;
    }
    .info-img {
      margin-right: 15px;
      a {
        text-decoration: none;
        color: #000;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        h6 {
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }
  }
}
