body.dir_rtl {
  .section-title {
    padding-right: 35px;
    padding-left: 0;
    &:before {
      left: unset;
      right: 0;
    }
  }
}

.title_1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 2rem;
  &:after {
    display: block;
    height: 3px;
    font-weight: bold;

    content: " ";
    width: 50px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  // #MODIFIERES
  &--blue {
    color: $white;
    &:after {
      background-color: $blue-1;
    }
  }
  &--dark {
    color: $white;
    &:after {
      background-color: $yellow;
    }
  }
  &--white {
    color: $white;
    &:after {
      background-color: $white;
    }
  }
  &--brown {
    color: $white;
    &:after {
      background-color: $brown;
    }
  }
  &--search {
    color: #000;
    &:after {
      background-color: $blue-1;
    }
  }
  &--no-underline {
    &:after {
      display: none;
    }
  }
}

.title_2 {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  span {
    color: #274abb;
  }
  &:after {
    display: block;
    height: 3px;
    font-weight: bold;
    background-color: #121b22;
    content: " ";
    width: 97px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

.section-title {
  padding-left: 35px;
  position: relative;
  margin-bottom: 2.5rem;
  &:before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 15px;
    content: "";
    border-radius: 3px;
    position: absolute;
    background-color: #274abb;
  }
  h3 {
    font-size: 18px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  h2 {
    font-size: 28px;
    color: #274abb;
    font-weight: bold;
    text-transform: uppercase;
  }
  &--orange {
    h2 {
      color: $orange;
    }
    &:before {
      background-color: $orange;
    }
  }
  &--brown {
    h3 {
      color: $white;
    }
    h2 {
      color: $brown;
    }
    &:before {
      background-color: $brown;
    }
  }
}
