.copyright {
  padding: 20px 0;
  &--blue {
    background-color: #303441;
    color: $white;
    border-top: 1px solid rgba(245, 255, 255, 0.1);
  }
  .container {
    justify-content: space-between;

    @include respond-below(sm) {
      display: block !important;
      p {
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}
