{% load render_partial %}

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {% if view.page_name %}
        {{ view.page_name }} | {{ site.site_name }}
        {% else %}
            {% block title %}{% endblock %}
        {% endif %}
    </title>

    {% block styles %}
    {% endblock %}

    {% include 'partials/styles.html' %}

</head>

<body class="dir_rtl fr_fonts">

{% include "partials/nav.html" %}

{% include 'partials/mobile-nav.html' %}

{% block body %}

{% endblock %}

{#{% include 'partials/footer.html' %}#}

    {% render_partial 'pages:footer' %}


{% include 'partials/copy-right.html' %}

{% include 'partials/scripts.html' %}

{% block scripts %}
{% endblock %}

</body>
</html>
