// =================
// Common
// =================

$white: #fff;
$black-1: #000;
$black-2: #222;
$black-3: #333;
$p-light: #666;

$dark-orange: #c18847;
$yellow: #f5b200;
$orange: #f7a13e;

$gray-text: rgba(245, 255, 255, 0.8);

// =================
// Blue theme
// =================
$blue-1: #274abb;

// =================
// Dark theme
// =================
$dark-1: #212529;
$dark-2: #282d32;
$brown: #c18847;

.bg-black-1 {
  background: #282d32 !important;
}
.bg-black-2 {
  background: #212529 !important;
}

.bg-white-2 {
  background: #f8f8f8 !important;
}

.bg-white-1 {
  background: url(../images/bg/bg-pattern-dot.png) 0 0 repeat !important;
}

// =================
// Light theme
// =================
