{% extends 'shared/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}

    <div class="banner">
        <div class="banner__content">
            <h4 class="banner__title text-center">تماس باما</h4>
            <ul class="banner__breadcrumb list-inline text-center">
                <li class="list-inline-item">
                    <p><a href="{% url 'pages:home' %}">خانه</a></p>
                </li>
                <li class="divider list-inline-item">/</li>
                <li class="list-inline-item"><p>تماس باما</p></li>
            </ul>
        </div>
    </div>

    <div class="contact-us section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="mb-4">تماس باما</h3>
                    <form method="post" action="{% url 'pages:contact' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% render_field form.first_name type="text" id="exampleInputEmail1" class+="form-control input-form-control" aria-describedby="emailHelp" placeholder="نام" %}
                        </div>
                        {% for error in form.first_name.errors %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            {% render_field form.last_name type="text" id="exampleInputEmail1" class+="form-control input-form-control" aria-describedby="emailHelp" placeholder="نام خانوادگی" %}
                        </div>
                        {% for error in form.last_name.errors %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            {% render_field form.email type="email" id="exampleInputEmail1" class+="form-control input-form-control" aria-describedby="emailHelp" placeholder="ایمیل" %}
                        </div>
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            {% render_field form.phone_number type="tel" id="exampleInputEmail1" class+="form-control input-form-control" aria-describedby="emailHelp" placeholder="شماره تماس" %}
                        </div>
                        {% for error in form.phone_number.errors %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            {% render_field form.message type="text" id="exampleInputEmail1" rows="4" class+="form-control input-form-control" aria-describedby="emailHelp" placeholder="پیام" %}
                        </div>
                        {% for error in form.message.errors %}
                            <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">ارسال</button>
                    </form>
                </div>
                <div class="col-lg-4 call-info rtl">
                    <div class="call-info__content">
                        <h3 class="title_1 title_1--white">اطلاعات تماس</h3>
                        <p class="mb-4">
                            می توانید از طریق اطلاعات زیر با ما تماس حاصل فرمایید.
                        </p>
                        <ul>
                            <li>
                                <a href="tel:{{ site.phone_number }}">
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        {{ site.phone_number }}
                                    </p>
                                </a>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ site.address }}
                                </p>
                            </li>
                            <li>
                                <a href="mailto:{{ site.phone_number }}">
                                    <p>
                                        <i class="fas fa-envelope-open"></i>
                                        {{ site.email }}
                                    </p>
                                </a>
                            </li>
                            <li>
                                <p><i class="fas fa-clock"></i>{{ site.work_time }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}