{% extends 'shared/_base.html' %}
{% load static %}

{% block body %}

    {% include 'partials/video-banner.html' %}

    {% if properties %}

        <div class="recently-properties section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title section-title--orange">
                            <h3>کلارستان</h3>
                            <h2>برترین های برگزیده</h2>
                        </div>
                    </div>

                    {% for property in properties %}

                        <div class="col-lg-4 col-md-6">
                            <div class="project">
                                <div class="project__header">
                                    <img src="{{ property.picture.url }}" alt="{{ property.picture_alternate_text }}"/>
                                    <a href="#" class="badge badge--sale badge--top-right"
                                    >{{ property.get_status_display }}</a
                                    >

                                    {% if property.is_featured %}

                                        <a href="#" class="badge badge--feature badge--top-left"
                                        >ویژه</a
                                        >

                                    {% endif %}

                                    <a href="#" class="badge badge--family badge--bottom-left">
                                        {{ property.get_kind_display }}
                                    </a>
                                    <div class="project__overlay">
                                        <a href="{% url 'pages:property' property.slug %}">
                                            <h4>
                                                {{ property.title }}
                                                <br/>
                                                <span>نمایش جزئیات بیشتر</span>
                                            </h4>
                                        </a>
                                    </div>
                                </div>

                                <div class="project__content">
                                    <h3 class="project__content__title">
                                        <a href="{{ property.get_absolute_url }}">
                                            {{ property.title }}
                                        </a>
                                    </h3>
                                    <p class="project__content__address">
                                        <a href="{{ property.category.get_absolute_url }}">
                                            <i class="fa fa-list-alt"></i>
                                            <span>
                                                {{ property.category }}
                                            </span>
                                        </a>
                                    </p>

                                    <ul class="project__content__details">
                                        {% for feature in property.features.all %}
                                            <li>
                                                <i class="{{ feature.icon.code }}" aria-hidden="true"></i>
                                                <span>{{ feature.title }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <div class="project__content__properties">
                                        <h3>
                                            <a href="{{ property.get_absolute_url }}">{{ property.get_price }}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="col-12 mb-4"></div>
                    <div class="col-12 text-center">
                        <a href="{% url 'pages:properties' %}" class="link-primary"
                        >نمایش همه <i class="fas fa-arrow-circle-right"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <div class="welcome-to-find-houses section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="mb-2">خوش آمدید به <span>{{ site.site_name }}</span></h2>
                    <h4 class="mb-4">{{ site.welcome_title }}</h4>
                    <p class="mb-5">
                        {{ site.welcome_summary }}
                    </p>
                    <ul>
                        {% for service in services %}
                            <li>
                                <img src="{{ service.picture.url }}" alt="{{ service.picture_alternate_text }}"/>
                                <div class="content">
                                    <h6>{{ service.title }}</h6>
                                    <p>
                                        {{ service.description }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="col-lg-6">
                    <img
                            class="img-fluid"
                            src="{{ site.picture.url }}"
                            alt="{{ site.picture_alternate_text }}"
                    />
                </div>
            </div>
        </div>
    </div>


    {% if popularـproperties %}

        <div class="popular-places section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title section-title--orange">
                            <h3>کلارستان</h3>
                            <h2>محبوب ترین‌ها</h2>
                        </div>
                    </div>

                    {% for popular in popularـproperties %}

                        {% if forloop.first or forloop.counter == 4 %}

                            <div class="col-lg-4 col-md-6">
                                <a class="hover-image" href="{% url 'pages:property' popular.slug %}">

                                    <div class="hover-image__content">

                                        {% if popular.is_featured %}
                                            <span class="featured">Featured</span>
                                        {% endif %}

                                        <img src="{{ popular.picture.url }}"
                                             alt="{{ popular.picture_alternate_text }}"/>
                                        <h4>
                                            {{ popular.title }}
                                            <br/>
                                            <span>{{ popular.get_status_display }}</span>
                                        </h4>
                                    </div>

                                </a>
                            </div>

                        {% else %}

                            <div class="col-lg-8 col-md-6">
                                <a class="hover-image" href="{% url 'pages:property' popular.slug %}">

                                    <div class="hover-image__content">

                                        {% if popular.is_featured %}
                                            <span class="featured">ویژه</span>
                                        {% endif %}

                                        <img src="{{ popular.picture.url }}" alt="{{ popular.picture_alternate_text }}"/>
                                        <h4>
                                            {{ popular.title }}
                                            <br/>
                                            <span>{{ popular.get_status_display }}</span>
                                        </h4>
                                    </div>

                                </a>
                            </div>

                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}