{% extends 'shared/_base.html' %}
{% load static %}
{% block body %}

    <div class="banner">
        <div class="banner__content">
            <h4 class="banner__title text-center">املاک</h4>
            <ul class="banner__breadcrumb list-inline text-center">
                <li class="list-inline-item">
                    <p><a href="{% url 'pages:home' %}">خانه</a></p>
                </li>
                <li class="divider list-inline-item">/</li>
                <li class="list-inline-item"><p>املاک</p></li>
            </ul>
        </div>
    </div>

    <div class="grid section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-12 pb-5">

                            <h4 class="grid__title mb-2">املاک</h4>

                        </div>

                        {% for property in properties %}

                            <div class="col-md-6">
                                <div class="project">
                                    <div class="project__header">
                                        <img src="{{ property.picture.url }}"
                                             alt="{{ property.picture_alternate_text }}"/>
                                        <a href="#" class="badge badge--sale badge--top-right"
                                        >{{ property.get_status_display }}</a
                                        >

                                        {% if property.is_featured %}

                                            <a href="#" class="badge badge--feature badge--top-left"
                                            >ویژه</a
                                            >

                                        {% endif %}

                                        <a href="#" class="badge badge--family badge--bottom-left">
                                            {{ property.get_kind_display }}
                                        </a>
                                        <div class="project__overlay">
                                            <a href="{{ property.get_absolute_url }}">
                                                <h4>
                                                    {{ property.title }}
                                                    <br/>
                                                    <span>نمایش جزئیات بیشتر</span>
                                                </h4>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="project__content">
                                        <h3 class="project__content__title">
                                            <a href="{{ property.get_absolute_url }}">
                                                {{ property.title }}
                                            </a>
                                        </h3>
                                        <p class="project__content__address">
                                            <a href="{{ property.category.get_absolute_url }}">
                                                <i class="fa fa-list-alt"></i>
                                                <span>
                                                {{ property.category }}
                                            </span>
                                            </a>
                                        </p>

                                        <ul class="project__content__details">
                                            {% for feature in property.features.all %}
                                                <li>
                                                    <i class="{{ feature.icon.code }}" aria-hidden="true"></i>
                                                    <span>{{ feature.title }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="project__content__properties">
                                            <h3>
                                                <a href="#">{{ property.get_price }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        {% if is_paginated %}

                            <div class="col-12 mt-3">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{% url 'pages:properties' page_obj.previous_page_number %}">
                                                    صفحه قبل
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link"
                                                   href="#">
                                                    صفحه قبل
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for i in page_obj.paginator.page_range %}

                                            {% if page_obj.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link"
                                                       href="{% url 'pages:properties' i %}">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="{% url 'pages:properties' i %}">{{ i }}</a>
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="{% url 'pages:properties' page_obj.next_page_number %}">
                                                    صفحه بعد
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link"
                                                   href="">
                                                    صفحه بعد
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>

                        {% endif %}

                    </div>
                </div>

                <div class="col-lg-3 main-searchbar">

                    {#                    <h3 class="title_1 title_1--search mt-1">جستجوی پیشرفته</h3>#}
                    {##}
                    {#                    <form>#}
                    {#                        <select class="custom-select mb-3">#}
                    {#                            <option selected>Open this select menu</option>#}
                    {#                            <option value="1">One</option>#}
                    {#                            <option value="2">Two</option>#}
                    {#                            <option value="3">Three</option>#}
                    {#                        </select>#}
                    {#                        <select class="custom-select mb-3">#}
                    {#                            <option selected>Open this select menu</option>#}
                    {#                            <option value="1">One</option>#}
                    {#                            <option value="2">Two</option>#}
                    {#                            <option value="3">Three</option>#}
                    {#                        </select>#}
                    {#                        <select class="custom-select mb-3">#}
                    {#                            <option selected>Open this select menu</option>#}
                    {#                            <option value="1">One</option>#}
                    {#                            <option value="2">Two</option>#}
                    {#                            <option value="3">Three</option>#}
                    {#                        </select>#}
                    {#                        <select class="custom-select mb-3">#}
                    {#                            <option selected>Open this select menu</option>#}
                    {#                            <option value="1">One</option>#}
                    {#                            <option value="2">Two</option>#}
                    {#                            <option value="3">Three</option>#}
                    {#                        </select>#}
                    {#                        <select class="custom-select mb-3">#}
                    {#                            <option selected>Open this select menu</option>#}
                    {#                            <option value="1">One</option>#}
                    {#                            <option value="2">Two</option>#}
                    {#                            <option value="3">Three</option>#}
                    {#                        </select>#}
                    {#                        <input#}
                    {#                                type="text"#}
                    {#                                class="form-control mb-3"#}
                    {#                                placeholder="Squre to max"#}
                    {#                                required#}
                    {#                        />#}
                    {#                        <input#}
                    {#                                type="text"#}
                    {#                                class="form-control mb-3"#}
                    {#                                placeholder="Squre to min"#}
                    {#                                required#}
                    {#                        />#}
                    {#                        <div class="item range-slide-section position-relative">#}
                    {#                            <div class="row">#}
                    {#                                <div class="col-sm-12">#}
                    {#                                    <div id="slider-range"></div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {##}
                    {#                            <div class="slider-labels">#}
                    {#                                <div class="caption">#}
                    {#                                    <span id="slider-range-value1" class="faNum"></span>#}
                    {#                                </div>#}
                    {#                                <span class="dash">-</span>#}
                    {#                                <div class="caption">#}
                    {#                                    <span id="slider-range-value2" class="faNum"></span>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="row">#}
                    {#                                <div class="col-sm-12">#}
                    {#                                    <form>#}
                    {#                                        <input type="hidden" name="min-value" value=""/>#}
                    {#                                        <input type="hidden" name="max-value" value=""/>#}
                    {#                                    </form>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <button class="search-btn" type="submit">Search</button>#}
                    {#                    </form>#}

                    <h3 class="title_1 title_1--search mt-5">املاک اخیر</h3>
                    <div class="d-flex flex-wrap">
                        {% for recent_property in recent_properties %}
                            <div class="recent-house">
                                <img src="{{ recent_property.picture.url }}"
                                     alt="{{ recent_property.picture_alternate_text }}"/>
                                <div class="info-img">
                                    <a href="{% url 'pages:property' recent_property.slug %}">
                                        <h6>{{ recent_property.title }}</h6></a>
                                    <p>{{ recent_property.get_price }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <h3 class="title_1 title_1--search mt-5">برچسب‌های اخیر</h3>
                    <div class="tags">
                        {% for recent_tag in recent_tags %}
                            <a href="{{ recent_tag.get_absolute_url }}">{{ recent_tag.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}