{% extends 'shared/_base.html' %}
{% load static %}

{% block title %}
    {{ property.title }} | {{ site.site_name }}
{% endblock %}

{% block body %}

    <div class="property section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12 pb-5">
                            <div class="d-flex">
                                <h4 class="property__title mb-2">
                                    {{ property.title }}
                                    <span class="sale">{{ property.get_status_display }}</span>
                                </h4>
                                <h4 class="property__price">{{ property.get_price }}</h4>
                            </div>
                            <div class="d-flex">
                                <p class="property__address">
                                    <a href="{{ property.category.get_absolute_url }}">
                                        <i class="fa fa-list-alt mr-2"></i>
                                        <span>
                                             {{ property.category }}
                                        </span>
                                    </a>
                                </p>
                                <p class="property__rent">{{ property.area }}</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="box property__gallary">
                                <h3 class="title_1 title_1--search mb-3">گالری</h3>
                                <ul id="lightSlider">
                                    <li data-thumb="{{ property.picture.url }}">
                                        <img src="{{ property.picture.url }}"
                                             alt="{{ property.picture_alternate.text }}">
                                    </li>

                                    {% for picture in property.pictures.all %}

                                        <li data-thumb="{{ picture.picture.url }}">
                                            <img src="{{ picture.picture.url }}"
                                                 alt="{{ picture.picture_alternate_text }}">
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="box">
                                <h3 class="title_1 title_1--search">توضیحات</h3>
                                <p class="mb-4">
                                    {{ property.description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="box">
                                <h3 class="title_1 title_1--search mb-3">ویژگی‌های ملک</h3>
                                <ul class="list-style-none pl-0 property__details">
                                    {% for feature in property.features.all %}
                                        <li>
                                            <i style="color: #f7a13e" class="{{ feature.icon.code }}"></i>
                                            <span class="content">{{ feature.title }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <h3 class="title_1 title_1--search  mt-4 mb-3">امکانات ملک</h3>
                                <ul class="property__amenities pl-0">
                                    {% for amenety in property.ameneties.all %}
                                        {% if amenety.value == True %}
                                            <li>
                                                <span class="icon mr-1"><i class="fa fa-check-circle"></i></span>
                                                <span class="value">{{ amenety.key }}</span>
                                            </li>
                                        {% else %}
                                            <li>
                                            <span class="icon mr-1"><i style="color: red;"
                                                                       class="fa fa-times-circle"></i></span>
                                                <span class="value">{{ amenety.key }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                </ul>
                            </div>
                        </div>
                        {% if property.video %}
                            <div class="col-12 mt-4 mb-4">
                                <div class="box property__video">
                                    <h3 class="title_1 title_1--search mb-3">ویدیو ملک</h3>
                                    <a href="#" class="position-relative" data-toggle="modal" data-target="#myModal">
                                        <img class="img-fluid" src="{{ property.poster_picture.url }}"
                                             alt="{{ property.poster_picture_alternate_text }}"/>
                                        <div class="icon">
                                            <i class='fas fa-play'></i>
                                        </div>
                                    </a>
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <video class="img-fluid"
                                                           poster="{{ property.poster_picture.url }}"
                                                           controls>
                                                        <source src="{{ property.video.url }}"
                                                                type="video/mp4"/>
                                                        Your browser does not support HTML5 video.
                                                    </video>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-4 property-following">
                    <div class="box box--bordered">
                        <h3
                                class="title_1 title_1--search title_1--no-underline mb-0 pb-4"
                        >
                            املاک اخیر
                        </h3>
                        <hr class="mt-0 mb-4"/>
                        <div class="d-flex flex-wrap">
                            {% for recent_property in recent_properties %}
                                <div class="recent-house">
                                    <img src="{{ recent_property.picture.url }}"
                                         alt="{{ recent_property.picture_alternate_text }}"/>
                                    <div class="info-img">
                                        <a href="{% url 'pages:property' recent_property.slug %}">
                                            <h6>{{ recent_property.title }}</h6></a>
                                        <p>{{ recent_property.get_price }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="box box--bordered mt-4">
                        <h3
                                class="title_1 title_1--search title_1--no-underline mb-0 pb-4"
                        >
                            املاک ویژه
                        </h3>
                        <hr class="mt-0 mb-4"/>
                        <div
                                id="owl-one"
                                class="owl-carousel slider owl-theme owl-one mt-5"
                        >
                            {% for featured_property in featured_properties %}
                                <div class="item">
                                    <a href="{% url 'pages:property' featured_property.slug %}"
                                       class="project features">
                                        <div class="project__header">
                                            <img
                                                    src="{{ featured_property.picture.url }}"
                                                    alt="{{ featured_property.picture_alternate_text }}"
                                            />
                                            <div class="badge badge--sale badge--top-right">
                                                {{ featured_property.get_status_display }}
                                            </div>
                                            <div class="badge badge--feature badge--top-left">
                                                {{ featured_property.get_price }}
                                            </div>
                                            <div class="feature__overlay">
                                                <span>{{ featured_property.title }} <i>{{ featured_property.category }}</i></span>
                                                <ul class="list-inline">
                                                    {#                                                    <li class="list-inline-item">#}
                                                    {#                                                        Area <span>{{ featured_property.area }}</span>#}
                                                    {#                                                    </li>#}
                                                    {% for feature in featured_property.features.all %}
                                                        <li class="list-inline-item">{{ feature.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="box box--bordered mt-4">
                        <h3
                                class="title_1 title_1--search title_1--no-underline mb-0 pb-4"
                        >
                            یرچسب‌های اخیر
                        </h3>
                        <hr class="mt-0 mb-4"/>
                        <div class="tags">
                            {% for tag in property.tag.all %}
                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-5">
                    <div class="row mt-4">
                        <div class="col-12">
                            <h3 class="title_1 title_1--search mb-3">املاک مشابه</h3>
                        </div>

                        {% for property in property.category.properties.all %}

                            <div class="col-lg-4 col-md-6">
                                <div class="project">
                                    <div class="project__header">
                                        <img src="{{ property.picture.url }}"
                                             alt="{{ property.picture_alternate_text }}"/>
                                        <a href="#" class="badge badge--sale badge--top-right"
                                        >{{ property.get_status_display }}</a
                                        >

                                        {% if property.is_featured %}

                                            <a href="#" class="badge badge--feature badge--top-left"
                                            >ویژه</a
                                            >

                                        {% endif %}

                                        <a href="#" class="badge badge--family badge--bottom-left">
                                            {{ property.get_kind_display }}
                                        </a>
                                        <div class="project__overlay">
                                            <a href="{{ property.get_absolute_url }}">
                                                <h4>
                                                    {{ property.title }}
                                                    <br/>
                                                    <span>نمایش جزئیات بیشتر</span>
                                                </h4>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="project__content">
                                        <h3 class="project__content__title">
                                            <a href="#">
                                                {{ property.title }}
                                            </a>
                                        </h3>
                                        <p class="project__content__address">
                                            <a href="#">
                                                <i class="fa fa-list-alt"></i>
                                                <span>
                                                {{ property.category }}
                                            </span>
                                            </a>
                                        </p>

                                        <ul class="project__content__details">
                                            {% for feature in property.features.all %}
                                                <li>
                                                    <i class="{{ feature.icon.code }}" aria-hidden="true"></i>
                                                    <span>{{ feature.title }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="project__content__properties">
                                            <h3>
                                                <a href="#">{{ property.get_price }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
