.pagination {
  .page-item {
    &.active {
      .page-link {
        background-color: $blue-1;
        color: $white;
        border-color: $blue-1;
      }
    }
    .page-link {
      font-size: 14px;
      padding: 7px 11px;
      color: #222;
      @include transition(0.3s);
      &:hover {
        background-color: $blue-1;
        border-color: $blue-1;
        color: $white;
      }
    }
  }
}
